<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #233846; font-family: 'Tahoma' ;">

    <div class="container-fluid" >
            <a class="navbar-brand" href="/">
              <img src="https://cdn-icons-png.flaticon.com/512/1245/1245283.png?w=740&t=st=1685882616~exp=1685883216~hmac=ba160966ef3fd776be766ce5960d5e86bbd2f8d80768d783af5f58f63d557547" alt="logo" width="50" height="50">
            </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a class="nav-link text-warning" href="/">Главная</a>
        <a class="nav-link text-warning" aria-current="page" href="/books">Книги</a>
        <a class="nav-link text-warning" href="/readers">Читатели</a>
        <a class="nav-link text-warning" href="/info">Информация</a>
        </div>
        <div class="d-flex flex-row bd-highlight">
          <a class="nav-link text-warning" href="/admin">Вход для сотрудников</a>
          <a class="navbar-brand" href="/books">
          <img src="https://cdn-icons-png.flaticon.com/512/904/904820.png?w=740&t=st=1685882889~exp=1685883489~hmac=5bc80739f523d568c1e45cfa4b2ed3f5015d5e52ab738570989db0f748781b71" alt="logo2" width="50" height="50"> 
          </a>
          <a></a>
          <a class="navbar-brand" href="/exit">
            <img src="https://cdn-icons-png.flaticon.com/512/786/786446.png?w=740&t=st=1685889598~exp=1685890198~hmac=9166fffb0bf9ba30ae5e879d793fd11eb35b39e000440b71685a25bc1038165cs" alt="logo2" width="50" height="50"> 
            </a>
          
        </div>
    </div>
  </nav