{% extends "style/wrapper.html"%}

{% block content %}
<div class="dg-image" style="background-image: url('https://phonoteka.org/uploads/posts/2021-04/1618987220_3-phonoteka_org-p-knizhnii-temnii-fon-3.jpg'); height: 1200px;">
<h1 style = "text-align:center">Библиотека</h1>
    <div>
        <img  style = 'float: right ; border: 4px solid #f4bb03 ;margin: 20px 40px 20px;' src="https://img.freepik.com/premium-photo/long-room-ladder_25385-860.jpg?w=740" width="400" height="550">
        <p style = 'margin-left: 20px ; padding-top: 20px ; text-indent: 20px; font-size: 18px;'>
             Библиоте́ка — учреждение, собирающее и осуществляющее хранение произведений печати и письменности для общественного пользования,
            а также ведущее справочно-библиографическую работу.
        </p>
        <p style = 'margin-left: 20px ; text-indent: 20px; font-size: 18px;'>
            Библиотеки впервые появились на древнем Востоке. Обычно первой библиотекой называют собрание глиняных табличек, приблизительно 2500 год до н. э., найденное в храме шумерского города Ниппур. 
            В одной из гробниц близ египетских Фив был обнаружен ящик с папирусами времени II переходного периода (XVIII—XVII вв. до н. э.). В эпоху Нового царства Рамсесом II было собрано около 20 000 папирусов.
            Самая известная древневосточная библиотека — собрание клинописных табличек из дворца ассирийского царя VII века до н. э. Ашшурбанипала в Ниневии. Основная часть табличек содержит юридическую информацию. 
            В древней Греции первая публичная библиотека была основана в Гераклее тираном Клеархом (IV век до н. э.).
         </p>
        <h3 style = 'text-indent: 60px;'> Разовидности</h3>
        <p style = 'margin-left: 20px ; text-indent: 20px; font-size: 18px;'>
            <i>Национальная библиотека</i> призвана обеспечить сохранность и доступность всей печатной и смежной продукции, выпущенной и выпускаемой данным государством или имеющей к нему то или иное отношение, могущей быть востребованной читателями. 
            Для обеспечения полноты фонда национальной библиотеки во многих странах используется система обязательного экземпляра.
            В России функции национальной библиотеки выполняют Российская государственная библиотека (бывш. имени Ленина) в Москве и Российская национальная библиотека в Санкт-Петербурге
        </p>     
    </div>
    <div>
        <img  style = 'float: left ; border: 4px solid #f4bb03 ;margin: 20px 40px 20px;' src="https://img.freepik.com/free-photo/vertical-shot-of-the-interiors-of-lello-centenary-bookshop-captured-in-oporto-portugal_181624-42580.jpg?w=360&t=st=1686085715~exp=1686086315~hmac=f54935af954ece039a7d519bcc31f23796c163ab37baaa168eac820027877e73" width="400" height="550">
        <p style = 'margin-left: 20px ; text-indent: 20px; font-size: 18px;'>
            <i>Региональные библиотеки</i> выполняют роль филиалов национальной библиотеки, что особенно актуально для отдалённых регионов страны. 
            В России особенно важную роль играют несколько региональных библиотек Урала и Сибири, наряду с двумя национальными библиотеками наделённых правом получения обязательного экземпляра.
        </p>
        <p style = 'margin-left: 20px ; text-indent: 20px; font-size: 18px;'>
            <i>Публичные библиотеки</i> обеспечивают читателей наиболее употребительными и популярными изданиями.
        </p>
        <p style = 'margin-left: 20px ; text-indent: 20px; font-size: 18px;'>
            Специальные библиотеки собирают издания определённого типа (нотные издания, книги для слепых, государственные стандарты, патенты, предсказания на пальмовых листьях и т. п.) или определённой тематики. Необходимость специальных библиотек в ряде случаев вызывается особыми условиями хранения изданий и пользования ими, но по большей части связана с невозможностью сосредоточить слишком большое количество изданий в одном помещении и обеспечить работу в одном учреждении высококвалифицированных специалистов по слишком разным отраслям книжного дела. В России в последние десятилетия особенно важную роль стала играть Всероссийская Государственная библиотека иностранной литературы, взявшая на себя ряд периферийных для библиотеки функций и превратившаяся благодаря этому в крупный культурный центр.
        </p>
    </div>
    <div></div> 

</div> 
{% endblock %}
